*{
    margin: 0;
    padding: 0;
}
body[data-aos-duration='4000'] [data-aos],[data-aos][data-aos][data-aos-duration='4000'] {
    transition-duration: 4000ms;
}
body{
    font-family: 'Poppins', sans-serif;  
}
.wrapper{
    width: 100%;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.main-header-section .mid-header-section{
    background-color: #f9b3ca;
}
.mid-header-section p{
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 0px;
}
.mid-header-section p span{
    background-color: #ffffff;
    padding: 0px 5px;
}
.bottom-header-section-box-1 h2{
    font-size: 40px;
}
.bottom-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom-header-section-box-2 ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-header-section-box-2 ul li {
    margin: 0px 10px;
    padding: 10px 5px;
}
.bottom-header-section-box-2 ul li a {
    text-decoration: none;
    font-weight: 550;
    cursor: pointer;
}
.beauty-section{
    width: 100%;
    background-color: #f3f6f6;
    padding: 20px 0px;
}   
.beauty-section-box-1,.beauty-section-box-2{
    width: 50%;
}
.beauty-section-box-2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.beauty-section-box-2 img{
    width: 80%;
    padding-top: 25px;
    display: block;
}
.beauty-section-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.beauty-section-box-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.beauty-section-box-1 h2 {
    font-size: 75px;
    line-height: 1.2;
}
.beauty-section-box-1 h3 {
    font-size: 14px;
    padding-top: 10px;
    word-spacing: 5px;
}
.beauty-section-box-1 p {
    font-size: 12px;
    font-weight: 550;
    line-height: 1.5;
    padding: 10px 100px 0 0;
}
.beauty-section-box-1 .btn-section {
    padding: 15px 0px;
}
.beauty-section-box-1 .btn-section a {
    padding: 5px 20px;
    border: 2px solid;
    font-size: 14px;
    font-weight: 550;
    cursor: pointer;
}
.beauty-section-box-1 .btn-section .btn-second{
    margin-left: 20px;
}
.beauty-section-box-1 .btn-section .btn-first{
    background-color: #f9b3ca;
    border:none;

}
.brand-fields ul {
    display: flex;
    list-style: none;
    width: 60%;
    padding: 5px 0px;
}
.brand-fields ul li {
    margin: 0px 10px;
    padding: 5px 0px;
}
.brand-fields ul li img {
    width: 100%;
    display: block;
}

.beauty-section .bottom-head {
    font-size: 14px;
    padding-top: 10px;
}
.beauty-section .bottom-para {
    font-size: 12px;
    padding-right: 100px;
}
.burger-menu{
    display: none;
}
.cart-bag-2{
    display: none;
}
.babe-box-section{
    width: 80%;
    margin: 0 auto;
}
.babe-box-section .babe-box-heading{
    text-align: center;
    padding: 50px 0px;
}
.babe-box-heading h2{
    display: inline-block;
    position: relative;
}
.babe-box-heading h2:after{
    content:'';
    position: absolute;
    background-color: #f9b3ca;
    z-index: -1;
    bottom: 0;
    padding: 0px 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50%;
}
.main-babe-box-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
   
}
.babe-box-image-section, .babe-box-content-section {
    height: 50%;
    padding: 5px;
}
.babe-box-content-section {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.babe-box {
    width: 25%;
    text-align: center;
}
.babe-box-height-div {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.main-babe-box {
    margin: 5px;
    height: 100%;
}
.babe-box-content-section p {
    font-size: 14px;
}
.babe-box-content-section h2 {
    font-weight: 550;
    font-size: 22px;
}
.brand-section{
    width: 100%;
    background-color: #f9b3ca;
}
.brand-section-main-block{
    width: 80%;
    margin: 0 auto;
}
.brand-block{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
}
.brand-items{
    padding : 0px 10px
}
.brand-items img{
    width: 100%;
    display: block;
}
.our-customer-section-start{
    width: 100%;
    background-color: #f9b3ca;
    padding: 50px 0px;
}
.our-customer-heading{
    text-align: center;
}
.our-customer-heading h2{
    display: inline-block;
    position: relative;
    z-index: 9;
}
.our-customer-heading h2:after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    padding: 0px 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    z-index: -1;
}
.our-customer-heading p{
    text-align: center;
    font-size: 24px;
    font-weight: 550;
    padding: 20px 10px;
}
.person-section{
    margin: 80px 0px;
    cursor: grab;

}
.person-section .person-content{
    padding: 50px;
    background-color: #fff;
    margin: 10px;
    border-radius: 10px;
    position: relative;
}
.person-content img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.person-content .image-2{
    display: none;
}
.our-customer-slide-section{
    width: 80%;
    margin: 0 auto;
}
.person-content .image{
    position: absolute;
    height: 100px;
    width: 100px;
    top: -15%;
    right: 10%;
    border-radius: 50%;
    z-index: 1;
}
.person-content h2{
    padding: 10px 0px;
}
.person-image img{
    height: 100px;
    width: 100px;
    display: block;
    border-radius: 50%;
}

/*Pricing Section*/
.pricing-main-section {
    width: 100%;
    background-color: #f9b3ca;
    padding: 50px 0px; 
}
.pricing-main-section  .pricing-head{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 20px 0px;
}
.pricing-main-section  .pricing-head h2{
    font-size: 32px;
    position: relative;
    display: inline-block;
    z-index: 1;
    margin: 10px 0px;
}
.pricing-main-section  .pricing-head h2:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 0px 15px;
    z-index: -1;
}
.pricing-main-section  .pricing-head p{
    font-size: 22px;
    font-weight: 550;
}

/* Footer Starts Here */
.footer-section-start{
    width: 100%;
    background-color: #000000;
    color: #fff;
    padding: 50px 0px;
}
.footer-section-start h2{
    padding: 20px 0px;
    font-size: 40px;
}
.main-footer-block{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-block-section-1{
    width: 66%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-block-box{
    width: 50%;
}
.footer-block-section-2{
    width: 33.33%;
}
.footer-block-box ul{
    list-style: none;
}
.footer-block-box ul li,.footer-block-box p,.footer-block-box input{
    font-size: 12px;
    font-weight: 550;
    padding: 5px 0px;
}
.footer-block-box .email-box{
    border:2px solid #fff;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.footer-block-box .email-box input{
    width: 90%;
    outline: none;
    background-color: transparent;
    border:none;
    padding: 0px 5px;
    color: #fff;
}
::placeholder{
    color: #fff;
}
.footer-block-box .email-box span{
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.footer-block-box-bottom ul{
    list-style: none;
    display: flex;
}
.footer-block-box-bottom ul li{
    padding-right: 20px;
}
.footer-bottom-content {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.footer-bottom-content ul{
    list-style: none;
    display: flex;
}

.footer-bottom-content .bottom-content-1 li{
    padding-right: 20px;
    font-size: 12px;
    font-weight: 550;
}
.accordion-section{
    width: 100%;
    padding:50px 0px;
    background-color: #F3F6F6;
}
.accordion-container{
    width: 90%;
    margin: 0 auto;
}
.accordion-head-main{
    text-align: center;
}
.accordion-head-main h2{
    display: inline-block;
    position: relative;
}
.accordion-head-main h2:after{
    content:'';
    position: absolute;
    background-color: #f9b3ca;
    z-index: -1;
    bottom: 0;
    padding: 0px 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50%;
}
.accordioan-main-block{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0px;
}
.accordion{
    width: 50%;
    margin: 10px 0px;
}
.accordion-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.accordion-head img{
    width: 20px;
    height: 20px;
    display: block;
    padding: 20px;
}
.accordion-head h2{
    font-size: 18px;
}
.accordioan-margin-div p{
    padding: 5px 10px;
}
.accordioan-margin-div {
    margin: 0px 10px;
    background-color: #fff;
}
.accordioan-margin-div p{
    display: none;
}
/* Map Section*/
.map-section{
    width: 100%;
    position: relative;
}
.map-image-div{
    width: 100%;

}
.map-image-div img{
    width: 100%;
}
.map-main-box {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    padding: 50px 0px;
    transform: translate(-50%, -50%);
}

.map-content{
    width: 100%;
    text-align: center;
    padding: 50px;
}
.map-content h2{
    font-size: 32px;
    position: relative;
    display: inline-block;
 }

.map-content h2::before{
    content: '';
    position: absolute;
    height: 40%;
    padding: 0px 15px;
    width: 100%;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    background-color:#f9b3ca;
    z-index: -1;
}
.map-content p{
    font-weight: 550;
    font-size: 20px;
    padding: 20px 0px;
}
.map-content a{
    border:2px solid;
    padding: 10px 20px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}
/*Babe Box Hover Section Start*/
.babebox-hover-section{
    width: 100%;
    padding-top: 50px;
}
.babebox-hover-head{
    width: 60%;
    text-align: center;
    margin: 0 auto;
}
.babebox-hover-head h2{
    font-size: 32px;
    position: relative;
    display: inline-block;
}
.babebox-hover-head h2:before{
    content: '';
    position: absolute;
    height: 40%;
    width: 100%;
    padding: 0px 15px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9b3ca;
    z-index: -1;
}
.babebox-hover-head p{
    padding: 10px 50px;
    font-weight: 550;
    font-size: 20px;
}
.babebox-hover-main-box{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.hover-babe-boxes{
    width: 25%;
    cursor: pointer;
}
.hover-babe-boxes:hover .babe-boxes-2{
    opacity: 1;
} 
.hover-babe-boxes:hover .babe-boxes-2 .babe-box-2-content{
    top: 50%;
    transform: translateY(-50%);
}
.babe-box-margin-div{
    margin: 5px;
    position: relative;
}
.babe-box-margin-div .babe-boxes-1 img{
    width: 100%;
    display: block;
}
.babe-boxes-2{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    transition: 0.3s;
}
.babe-boxes-2 .babe-box-2-content{
  padding: 10px 30px;
  text-align: center;
  color: #fff;
  top: 60%;
  position: absolute;
  transform: translateY(-60%);
  transition: 0.3s;
}
.babe-box-2-content .social-icons{
    width: 40%;
    margin: 0 auto;
}
.babe-box-2-content .social-icons ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.babe-box-2-content .social-icons ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.babe-box-2-content .social-icons ul li img{
    height: 20px;
    width: 20px;
    padding: 5px 10px; 
}
/* Babe box section start */
.babe-box-store-section{
    width: 100%;
    background-color: #F3F6F6;
    padding: 10px 0px;
}
.babe-box-store-head{
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}
.babe-box-store-head h2{
    font-size: 32px;
    position: relative;
    display: inline-block;
    z-index: 1;
    margin: 30px 0px;
}
.babe-box-store-head h2:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px 15px;
    width: 100%;
    height: 40%;
    background-color: #f9b3ca;
    z-index: -1;
}
.babe-store-custom-images ul{
    list-style: none;
    padding: 30px 0px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.filter-section-main-block{
    width: 90%;
    margin: 0 auto;
}
.filter-item-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.filter-item-block{
    width: 25%;
    height: 100%;
}
.test-div{
    width: 100%!important;
    border:2px solid green;
}
.filter-inner-block {
    margin: 10px 0px;
    padding: 0px 10px;
    text-align: center  ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
.filter-inner-block img{
    width: 100%;
    display: block;
}
.filter-head{
    display: inline-block;
}
.filter-head a {
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px 0px;
}
.filter-border-div{
    display: flex;
    flex-direction: row;
}
.filter-btn-1{
    background-color: #000;
    color: #fff;
    transition: 0.2s;
    border:2px solid #000;

}
.filter-btn-1:hover{
    background-color: #f9b3ca;
}
.filter-btn-2{
    color: #000;
    border:2px solid #000;
    transition: 0.2s;
}
.filter-btn-2:hover{
    background-color: #f9b3ca;
}
.filter-head {
    width: 100%;
    padding: 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-inner-block h3 {
    font-size: 16px;
    padding: 5px 10px;
}
.filter-inner-block p span {
    color: lightgrey;
    padding: 0px 10px;
}
.filter-inner-block p{
    padding: 5px 0px;
}
.filter-inner-block a{
    background-color: #f9b3ca;
    padding: 10px 20px;
    display: inline-block;  
    cursor: pointer; 
}
.babe-store-custom-images ul li {
    width: 16.66%;
    text-align: center;
    margin: 10px 0px;
}



.whats-in-your-box-section{
    width: 100%;
    padding: 50px 0px;
}
.whats-in-your-box-head{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.whats-in-your-box-head h2{
    display: inline-block;
    position: relative;
}
.whats-in-your-box-head h2:before{
    position: absolute;
    content: '';
    height: 40%;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background-color: #f9b3ca;
}
.whats-in-your-box-head p{
    font-size: 24px;
    padding: 20px 0px;
    font-weight: 550;
}
.whats-in-your-box-main-section{
    width: 100%;
}
.whats-in-your-box-main-block{
    width: 40%;
    margin: 0 auto;
}
.whats-in-your-box-main-block .box{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.in-your-box-image-section{
    padding: 30px;
}
.whats-in-your-box-main-block .box h3{
    font-size: 22px;
}
.whats-in-your-box-main-block .box p{
    font-size: 14px;
    font-weight: 550;
}

/**----Past section***/
.past-box-section{
    width: 100%;
    padding: 250px 0px 10px 0px;
    position: relative;
    background-color: #F3F6F6;
}
.past-box-head{
    width: 50%;
    margin: 0 auto;
    padding: 20px 0px;
    text-align: center;
}
.past-box-head > h2{
    font-size: 32px;
    position: relative;
    display: inline-block;
    z-index: 1;
}
.past-box-head h2:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 40%;
    padding: 0px 15px;
    background-color: #f9b3ca;
    z-index: -1;
}
.past-box-head p{
    font-size: 22px;
    font-weight: 550;
    padding: 0px 50px;
}
.past-box-content h2{
    font-weight: 500;
    padding-top: 10px;
}
.hand-image-div{
    position: absolute;
    top: -7%;
}
.hand-image-div img{
    width: 100%;
    display: block;
}
.past-section-main-block{
    width: 80%;
    padding: 20px 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.past-section-sub-block{
    width: 25%;
}
.past-block-inner-block img{
    width: 100%;
    display: block;
}
.past-block-inner-block{
    margin: 5px;
}
.past-block-inner-block p{
    color: #3c464f;
    font-size: 14px;
    padding: 5px 0px;
    font-style: italic;
}
.pricing-main-block {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
.pricing-inner-block {
    background-color: #fff;
    margin: 20px;
    padding: 20px 0px;
}
.pricing-sub-block {
    width: 25%;
}
.pricing-top-block h3 {
    font-size: 70px;
    text-align: center;
    color: lightblue;
}
.pricing-button-section p {
    padding: 5px 0px;
    color: #A0A0A0;
    font-size: 14px;
}
.pricing-top-block h2 {
    font-size: 45px;
    font-weight: 550;
    text-align: center;
}
.pricing-top-block {
    width: 80%;
    margin: 0 auto;
}
.pricing-mid-block {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px 0px;
    width: 100%;
    margin: 10px 0px;
}
.pricing-bottom-block ul li img {
    width: 25px;
    height: 25px;
    padding: 10px;
}
.pricing-bottom-block ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pricing-bottom-block ul {
    list-style: none;
}
.pricing-bottom-block {
    width: 80%;
    margin: 0 auto;
}
.pricing-button-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}
.pricing-button-section p {
    padding: 5px 0px;
}

.pricing-button-section a {
    background-color: #f9b3ca;
    padding: 10px 20px;
    font-weight: 550;
    font-size: 22px;
}
.pricing-bottm-content-section p {
    padding: 0px 20px;
    font-size: 14px;
    font-weight: 550;
    text-align: justify;
}
.pricing-bottm-content-section p span{
    color: blue;;
}
.pricing-bottm-content-section {
    width: 90%;
    margin: 0 auto;
}
.pricing-top-block p {
    text-align: center;
}
.bottom-image-with-text-section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0px;
    justify-content: center;
}
.bottom-image-box {
    width: 33.33%;
}
.bottom-image-box .iner-box {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bottom-image-box .iner-box .inner-box-1 {
    background-color: #fff;
    border-radius: 50%;
    width: 25%;
    margin: 10px;
}
.bottom-image-box .iner-box .inner-box-1 img {
    width: 100%;
    display: block;
}
.bottom-image-box .iner-box .inner-box-2 {
    width: 75%;
}
.bottom-image-box .iner-box .inner-box-1 .image-div{
    margin: 20px;
}
.bottom-image-box .iner-box .inner-box-2 p {
    font-size: 14px;
    font-weight: 550;
}

.bottom-image-box .iner-box .inner-box-2 h2 {
    font-size: 20px;
    padding: 5px 0px;
}
